body{ 
    margin:0;
}

.content{
    max-width: 100%;
    background-color: rgb(184, 197, 184);
    font-family: Arial;
    color: rgb(255, 255, 255);
    top: 0;
    padding-top: 10px;
    padding-bottom: 1000px;
    padding-left: 10px;
    font-size: 16px;
    overflow-y: scroll;
}
a{
  color: #f2f2f2;
  text-decoration: none;
}
a:hover{
    background-color: black;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

h1{
    background-color:orange;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-radius: 100px;
    margin-right: 10px;
}

a{
  color: #f2f2f2;
  text-decoration: none;
  
}

a:hover{
    background-color: black;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

h1{
    background-color:orange;
    text-align: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-radius: 100px;
    margin-right: 10px;
}

hr{
    width: 80%;
}

p{
    text-align: left;
    margin-left: 15px;
}
